/*--------------------------------------------------------------
## Color Variable
----------------------------------------------------------------*/
$white: #ffffff;
$black: #000;
$primary: #662f88;
$secondary: rgba($primary, 0.52);
$ternary: #b7b7b7;
$border: #eaeaea;
$gray: #fafafa;
$accent: #662f88;
